
<div class="form-container">
  <%= simple_form_for(@user, :remote => true) do |f| %>
    <div id="password_error" class="error"></div>
    <%= f.input :password%>
    <%= f.input :password_confirmation %>
    <input type="hidden" name="origin" value="password-set" />
    <div class="actions">
      <%= f.button :submit, "Change" %>
    </div>
  <% end %>
</div>