/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require fancybox
 *= require jquery.ui.datepicker
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */

body{
    background: -moz-linear-gradient(center top , #FBFBFB, #EEEEEE) repeat scroll 0 0 transparent;
    color: #000000;
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body.bg-wrapper{
    background-image: url("/assets/web/url.jpg");
    background-position: 120px 0;
    background-repeat: repeat-x;
}

/*----------HEADER-------------*/
#header{
    clear: both;
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
}

.header-container{
    float: left;
    height: 100px;
    margin: 0 10%;
    width: 80%;
}

icon{
    background-image: url("/assets/web/pathshala-icon.png");
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    margin-right: 3px;
    margin-top: 12px;
    width: 32px;
}

#header .logo{
    color: #000;
    float: left;
    font: 32px Tahoma,Arial,Sans-Serif;
    margin-top: 2%;
}

ul.nav{
    height: 40px;
    list-style: none outside none;
    margin: 0;
    padding: 0 10%;
}

ul.nav li{float: left}

ul.nav li{
    border-bottom: 1px double #FFFFFF;
    float: left;
    margin: 0;
    padding: 3px 0;
    width: 100%;
}

ul.nav li a{
    color: gray;
    font-size: 12px;
}

.white-border {
    background-color: #FFFFFF;
    clear: both;
    height: 1px;
    width: 100%;
}

breadcrumb{
    background: none repeat scroll 0 0 gray;
    color: white;
    float: left;
    font-size: 12px;
    padding: 6px;
}

breadcrumb a{
    color: white;
}


#header .user-navigation{
    color: white;
    float: right;
}

.header-form{
    margin-top: 25px;
}

.header-form input[type="text"], .header-form input[type="password"]{
    border: 1px solid #C2C2C2;
    height: 30px;
}

user, logout,
.header-form input[type="submit"]{
    background-color: #8E4C9B;
    border: 0px;
    border-bottom: 1px solid #8E4C9B;
    font-size: 15px;
    padding: 6px;
}
user a{
    color: #fff;
}
span.check { background-image: url(/assets/web/check.png); height: 18px; width: 18px; display: block; margin: 0 auto;}

/*------NAVIGATION---------*/
.wrapper{
    margin: 0 auto;
    min-height: 668px;
    width: 88%;
}

.wrapper h1{
    float: left;
    font-family: Eurostile,jura,Arial;
    margin: 20px;
    width: auto;
    clear: both;
    border-bottom: 2px solid gray;
}

#nav,
#config-nav
{
/*    background-image: url("/assets/web/nav-bg.png");
    background-repeat: repeat-x;*/
    height: 50px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul#nav > LI,
ul#config-nav li
{
    float: left;
    list-style: none;
    color: #fff;
    background-image: url("/assets/web/nav-bg.png");
    background-repeat: repeat-x;
    margin-right: 1px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

ul#nav li a,
ul#config-nav li a{
    color: #FFFFFF;
    float: left;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
    font-family: Eurostile, jura, Arial;
    font-size: 18px;
}

ul#nav li a{ width: 122px; }
ul#config-nav li a{ width: 122px; }

#nav li a.last,
ul#config-nav li a.last{
    border-right: 0px;
}

#nav li.first{
/*    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;*/
}

#nav li.last{
/*    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;*/
}

#nav li.active a:hover,
#nav li.active a{
    color: #B649F8 !important;
}

#nav li a:hover,
#nav li.active,
ul#config-nav li a:hover,
ul#config-nav li.active{
    background: #fff url("/assets/web/active-bg.png") repeat-x;
    background-position: 0px -1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table.display td {
    padding: 5px 0 !important;
    text-align: center;
    font-size: 12px;
}

.form{
    clear: both;
    float: left;
    height: auto;
    margin: 0 auto;
    width: 600px;
}

.sidebar{
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    float: left;
    height: 500px;
    margin-left: 1%;
    width: 20%;
}

.inner-box{
    background-color: #E5E5E5;
    float: left;
    min-height: 500px;
    width: 78%;
}

.shadow {
    -webkit-box-shadow: -2px 8px 12px -6px black;
    -moz-box-shadow:    -2px 8px 12px -6px black;
    box-shadow:         -2px 8px 12px -6px black
}

.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000FF;
    -moz-transition:width 2s, height 2s, background-color 2s, -moz-transform 2s;
    -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    -o-transition:width 2s, height 2s, background-color 2s, -o-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}
.box:hover {
    background-color: #FFCCCC;
    width:200px;
    height:200px;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}

.inner-box-container{
    clear: left;
    float: left;
    width: 100%
}

.inner-box-container .input{
    margin: 20px 0;
    clear: both;
}

.inner-box-container label{
    float: left;
    font-size: 14px;
    height: auto;
    margin-top: 10px;
    text-align: right;
    width: 32%;}

.inner-box-container input[type="file"],
.inner-box-container input[type="text"],
.inner-box-container input[type="number"],
.inner-box-container input[type="email"],
.inner-box-container input[type="tel"],
.inner-box-container input[type="password"],
.inner-box-container textarea,
.review-filter select,
.inner-box-container select{
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    height: 30px;
    margin-left: 10px;
    padding-left: 5px;
    width: 250px;
}

.inner-box-container .check_boxes .checkbox label{
    float: none !important;
}

.inner-box-container .check_boxes span.checkbox{
    clear: left;
    float: left;
    margin-left: 218px;
    min-width: 150px;
}

.inner-box-container .check_boxes span.left{
    
}

.inner-box-container .check_boxes span.right{
    clear: none;
    margin-left: 0;
}

.inner-box-container input[type="checkbox"]{
    height: 18px;
    margin-left: 12px;
    width: 18px;
}

.inner-box-container a.link-button,
.inner-box-container input[type="submit"]{
    background-color: #74A948;
    border: 1px solid #74A948;
    border-radius: 3px 3px 3px 3px;
    height: 30px;
    margin-left: 10px;
    padding-left: 5px;
    text-transform: uppercase;
    width: 115px;
    color: #000;
}

a.link-button{
    font-size: 11px;
    padding: 9px 30px 6px !important;
}

.actions{
    float: left;
    margin-left: 35px;
    width: auto;
}

table.display thead th{
    font-size: 12px;
}

.detailed-view p.message{
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 15px 15px 15px 15px;
    color: black;
    font-size: 20px;
    font-style: italic;
    margin: 40px;
    padding: 20px;
}

.button{
    background: none repeat scroll 0 0 #D44A3A;
    border: medium none;
    border-radius: 4px 4px 4px 4px;
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    max-width: 150px;
    opacity: 1;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.2s ease 0s;
    width: 100%;
}

.right{float: right}
.left{float: left}

.buttons-full-page{
    margin-top: 225px;
    padding: 0 60px;
}

.review-filter{
    border: 1px solid white;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    float: left;
    margin: 15px 0;
    padding: 15px 0;
    width: 100%;
}

.review-filter .filter{
    float: left;
    margin-right: 12px;
    margin-top: 2px;
}

.review-filter input[type="button"]{
    margin-left: 30px;
    margin-top: -3px;
    padding: 6px !important;
}

.main-sec{
    clear: both;
    float: left;
    width: 100%;
}

.left-sec{
    float: left;
    width: 48%;
}

.left-sec .student-pic{
    clear: both;
    float: left;
    height: 200px;
    margin: 15px 0 0 15px;
    width: 175px;
}

.left-sec .student-basic-info{
    clear: both;
    float: left;
    margin-left: 15px;
}

.right-sec{
    float: right;
    height: 100%;
    min-height: 490px;
    width: 50%;
    margin-top: 15px;
}

.display_label{
    float: left;
    width: 225px;
}

.display_label, .display_value{
    line-height: 28px;
}

.display_value{
    font-size: 14px;
    font-weight: bold;
}

.right-bottom-corner{
    clear: both;
    float: right;
    margin: 0 10px 10px 0;
}


/*
.adjustive .input{
    float: left;
}

.adjustive input[type="text"],
.adjustive input[type="number"],
.adjustive input[type="email"],
.adjustive input[type="password"],
.adjustive textarea,
.adjustive select{
    width: 120px !important;
}*/