/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */

body{
    background-image: url(/assets/web/bg_pattern.png);
    padding: 0;
    margin: 0;
    background-repeat:repeat;
    background-color:#4E4E4E;
    font-family:'Arial',sans-serif;
    color:#000;
}

a{
    text-decoration: none;
}

/*----------HEADER-------------*/
#header{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #000000;
    height: 100px;
    margin: 10px auto;
    width: 88%;
}

#header .logo{
    color: #FFFFFF;
    float: left;
    font-size: 36px;
    padding: 28px;
}

#header .user-navigation{
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 60px;
}

.wrapper{
    margin: 0 auto;
    min-height: 700px;
    width: 88%;
}

span.check { background-image: url(/assets/web/check.png); height: 18px; width: 18px; display: block; margin: 0 auto;}
