/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/src/demo_table_jui
 *= require_tree .
 */

body{
/*    background-image: url(/assets/web/bg_pattern.png);*/
    padding: 0;
    margin: 0;
    background-repeat:repeat;
    background-color:#4E4E4E;
    font-family:'Arial',sans-serif;
    color:#000;
}

a{
    text-decoration: none;
}

/*----------HEADER-------------*/
#header{
    background-color: #232323;
    border-bottom: 1px solid #171717;
    clear: both;
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
}

.header-container{
    float: left;
    height: 100px;
    margin: 0 10%;
    width: 80%;
}

icon{
    background-image: url("/assets/web/pathshala-icon.png");
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    margin-right: 3px;
    margin-top: 12px;
    width: 32px;
}

#header .logo{
    color: #FFFFFF;
    float: left;
    font: 32px Tahoma,Arial,Sans-Serif;
    margin-top: 2%;
}

ul.nav{
    background: none repeat scroll 0 0 #D7D7D7;
    height: 40px;
    list-style: none outside none;
    margin: 0;
    padding: 0 10%;
}

ul.nav li{float: left}

ul.nav li{
    float: left;
    padding: 10px 0;
    width: 125px;
}

.white-border {
    background-color: #FFFFFF;
    clear: both;
    height: 1px;
    width: 100%;
}

breadcrumb{
    background: none repeat scroll 0 0 gray;
    color: white;
    float: left;
    font-size: 12px;
    padding: 6px;
}

breadcrumb a{
    color: white;
}


#header .user-navigation{
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 60px;
}

span.check { background-image: url(/assets/web/check.png); height: 18px; width: 18px; display: block; margin: 0 auto;}

/*------NAVIGATION---------*/
.wrapper{
    margin: 0 auto;
    min-height: 700px;
    width: 88%;
}

.wrapper h1{
    float: left;
    font-family: Eurostile,jura,Arial;
    margin: 10px 0;
    width: auto;
    clear: both;
}

#nav,
#config-nav
{
/*    background-image: url("/assets/web/nav-bg.png");
    background-repeat: repeat-x;*/
    height: 50px;
    padding: 0px;
    margin: 0px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

ul#nav > LI,
ul#config-nav li
{
    float: left;
    list-style: none;
    color: #fff;
    background-image: url("/assets/web/nav-bg.png");
    background-repeat: repeat-x;
    margin-right: 1px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}

ul#nav li a,
ul#config-nav li a{
    color: #FFFFFF;
    float: left;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
    font-family: Eurostile, jura, Arial;
    font-size: 18px;
}

ul#nav li a{ width: 122px; }
ul#config-nav li a{ width: 122px; }

#nav li a.last,
ul#config-nav li a.last{
    border-right: 0px;
}

#nav li.first{
/*    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;*/
}

#nav li.last{
/*    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;*/
}

#nav li.active a:hover,
#nav li.active a{
    color: #B649F8 !important;
}

#nav li a:hover,
#nav li.active,
ul#config-nav li a:hover,
ul#config-nav li.active{
    background: #fff url("/assets/web/active-bg.png") repeat-x;
    background-position: 0px -1px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

table.display td {
    padding: 5px 0 !important;
    text-align: center;
    font-size: 12px;
}


.form{
    clear: both;
    float: left;
    height: auto;
    margin: 0 auto;
    width: 600px;
}