<h1>Admissions</h1>

<div class="review-filter">
  <%= form_tag(review_admissions_path, :remote => true, :method => :get, :'data-update-target' => 'filter-data') do %>
    <div class="filter">
      <label>Class</label> <%= select_tag :klass, options_from_collection_for_select(Klass.all, "id", "display_name")%>
    </div>

    <div style="float: left">
      <label>Percentage (%)</label>
      <input type="radio" name="percentage" value="50"/><label>upto 50%</label>
      <input type="radio" name="percentage" value="60"/><label>upto 60%</label>
      <input type="radio" name="percentage" value="75"/><label>upto 75%</label>
      <input type="radio" name="percentage" value="85"/><label>upto 85%</label>
      <input type="radio" name="percentage" value="99"/><label>upto 99%</label>
    </div>

    <input type="submit" value="Filter" class="button" />

  <%end%>
</div>


<div id="filter-data">

</div>
<%= link_to 'New Admission', new_admission_path %>

<script type="text/javascript">
/*  $(document).ready(function () {
    $("#review_admission_filter").submit(function(){

    })
  })*/
</script>